<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">編集</h1>
    </div>
    <div class="modal-body">
     <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
        <thead>
       　<tr>
       　 <th>拠点番号</th>
      　 <th>拠点地</th>
      　 <th rowspan="2">拠点種類</th>
      　</tr>
      </thead> 