<% provide(:title, '出勤中社員') %>
<div>
  <h1>出勤中社員一覧</h1>
  <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
  　<tr>
  　 <th>社員番号</t>
  　 <th>名前</th>
  　</tr> 
  　<tr>
  　 <th></th>
  　 <th></th>    
  　</tr>
  </table>　