<% provide(:title, '拠点一覧') %>
<div class=center>
  <h1>拠点一覧</h1>
   <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
     <thead>
    　<tr>
    　 <th colspan="3"></th> 
    　 <th>拠点番号</th>
    　 <th>拠点地</th>
    　 <th>拠点種類</th>
    　</tr>
  　</thead> 
  　
  　 <tbody>
    　<tr>
    　 <th colspan="3"></th>
    　 <th><%=link_to "編集", '#', class: "btn btn-info" %></th>
    　 <th><%=link_to "削除", '#', class: "btn btn-info" %></th>
    　 <th></th>
    　 
    　</tr>
  　</tbody> 