<% provide(:class_text, 'log_page') %>
<!-- < %= form_with(model: @attendance, '#', local: true, method: :patch) do |f| %>-->
<h1>勤怠ログ</h1>

<div>
  <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
    <theaad>
      <tr> 
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>承認日</th>
      </tr>
    </theaad>
    <tbody>
       <% @overtime_days.each do |day| %>
        <!--< %= f.fields_for "attendances[]", day do |at| %>-->
        <tr>
          <td><%= l(day.worked_on) %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :convinient_time) %></td>
          <td><% if finished_at.present? %>
                <%= l(day.finished_at.floor_to(15.minutes), format: :convinient_time) %>
              <% end %> 
          </td>    
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
       <!--< % end %>-->
       <% end %> 
    </tbody> 
  </table>
</div>  

 